<footer class="footer">
    <div class="footer-top">
        <img src="../../assets/Logo-sol.png" alt="sunny lenses">
        <div class="footer-redes">
            <p>follow us</p>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>
    <hr class="footer-separador">
    <div class="footer-bottom">
        <div class="footer-ubicacion">
            <div class="footer-ubicacion-box">
                <h5>FLORIDA LOCATION</h5>
                <p>4758 Holt Street <br> Boca Raton, FL 33487</p>
                <p class="number">(785)-589-4123</p>
            </div>
            <div class="footer-ubicacion-box">
                <h5>CALIFORNIA LOCATION</h5>
                <p>2659 Pike Street <br> San Diego, CA 92103</p>
                <p class="number">(858)-610-2028</p>
            </div>
            <div class="footer-ubicacion-box">
                <h5>TEXAS LOCATION</h5>
                <p>1731 Weekley Street <br> San Antonio, TX 78205</p>
                <p class="number">(210)-299-7827</p>
            </div>
        </div>
        <div class="footer-links">
            <div class="links-informacion">
                <a href="">Home</a>
                    <a href="">Frames</a>
                    <a href="">Lenses</a>
                    <a href="">pricing</a>
                    <a href="">Reviews</a>
                    <a href="">Locations</a>
                    <a class="link-final" href="">Gift Cards</a>
                </div>
                <div class="links-informacion">
                    <a href="">About Us</a>
                    <a href="">Careers</a>
                    <a href="">Order Status</a>
                    <a href="">Delivery & Shipping</a>
                    <a href="">Returns</a>
                    <a href="">FAQs</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
    </footer>
