<article class="desempeño">
    <p class="desempeño1">HOW IT WORKS</p>
    <h2 class="desempeño-texto">This is the future of <br> premium eyewear</h2>
   
    <hr class="desempeño-linea">

    <div class="desempeño-iconos">
    <div>   <i id="icono" class="fa-solid fa-image-portrait"></i>
            <h2> Measured for you </h2>
            <p>Use our iOS app to scan your face and capture over 20,000 3D measurements.</p>
        </div>
    <div>  <i id="icono" class="fa-solid fa-pen-ruler"></i>
            <h2>Designed by you</h2>
            <p>Select your style, choose your color, fine-tune the shape, and preview it with our virtual try-on.</p>
        </div> 
    <div>   <i id="icono" class="fa-solid fa-glasses"></i>
            <h2>Made from scratch</h2>
            <p>Each pair crafted for one person at a time from the highest quality acetate and mental.</p>
        </div> 
    <div>   <i id="icono" class="fa-regular fa-star"></i>
            <h2>Perfect, guaranteed</h2>
            <p>We guaranteed your Sunny Lenses glasses will fit perfectly, look great and feel amazing.</p>
        </div> 
        </div>

</article>
