<section>
    <div class="etiquetas_box">
        <h2> FIND A <br> LOCATION </h2>
            <i id="icono_principal" class="fa-solid fa-location-crosshairs"></i>
            <a href="">Learn More<i class="fa-solid fa-arrow-right"></i></a>
    </div>  
        
    <div class="etiquetas_box">
        <h2>BROWSE OUR <br> FRAME STYLES</h2>
             <i id="icono_principal" class="fa-solid fa-glasses"></i>
             <a href="">Explore frames<i class="fa-solid fa-arrow-right"></i> </a>
    </div>

    <div class="etiquetas_box">
        <h2>EXPLORE OUR <br> LENS OPTIONS </h2>
            <i id="icono_principal" class="fa-solid fa-magnifying-glass"></i>
            <a href="">Explore lenses<i class="fa-solid fa-arrow-right"></i> </a>
    </div>
    
</section>
