<article class="formulario">
    <form action="" class="formulario" id="formulario"> 
      <h1 class="formulario_titulo">Contact us</h1>

     <input type="text" class="formulario_input" id="username">
     <label for="" class="formulario_label">Full Name</label>
     
     <input type="email" class="formulario_input" id="email">
     <label for="" class="formulario_label">Email</label>
     
     <input type="number" class="formulario_input" id="cellphone">
     <label for="" class="formulario_label">Cellphone number</label>
    
     <input type="text" class="formulario_input" id="message">
     <label for="" class="formulario_label">Message</label>
     
     <input type="Submit" value="Send" class="formulario_submit">
     <button class="mensaje_enviado">Mensaje Enviado</button>
   
    </form>
    
</article>
