<section class="heroes">
    <div class="contenido_heroes">
        <img class="heroe1" src="../../assets/heroes1.png" alt="heroe1">
        <img class="heroe2" src="../../assets/heroes2.png" alt="heroe2">
        <img class="heroe3" src="../../assets/heroes3.png" alt="heroe3">
        <img class="heroe4" src="../../assets/heroes4.png" alt="heroe4">
        <img class="heroe5" src="../../assets/heroes5.png" alt="heroe5"> 
        <div class="informacion_heroes">
            <p class="mensaje_heroes">Designed by you</p>
            <h2 class="titulo_heroes">Individual style</h2>
            <p class="oferta_heroes">Like a bespoke suit or couture dress, exceptional style starts with fit that was made just for you. We craft your glasses based to your distinct stylistic choices and your personal preferences, so you're free to truly express yourself.</p>
        </div>
    </div>
</section>
